body {
    background-color: green;
    
}

#profile {
    text-align: center;

}
#profile img {
    width: 150px;
}
#container {
    text-align: center;
    
}

#info {
    padding: 30px;
    text-align: center;
}
#tijolo {
    font-size: 20px;
    width: 400px;
}
#secondNumber {
    font-size: 20px;
    width: 200px;
}
#info img {
    width: 30px;
}